<% provide(:title, "About | ") %>

<h1>About</h1>
<div class="jumbotron">
    <p> This website was written with the intention of amalgamating features from a variety of different sites to form one cohesive and powerful typing test. </p>
    <br><br><br>
    <p> If you are interested in this site, you may also be interested in other typing tests: </p>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://10fastfingers.com/typing-test/english" target="_blank">10fastfingers</a></li>
        <li class="list-group-item"><a href="http://typing-speed-test.aoeu.eu/?lang=en" target="_blank">Typing Speed Test</li> 
        <li class="list-group-item"><a href="http://play.typeracer.com/" target="_blank">TypeRacer</a></li>
        <li class="list-group-item"><a href="http://www.typingtest.com/" target="_blank">TypingTest.com</a></li>
        <li class="list-group-item"><a href="http://www.ratatype.com/typing-test/test/" target="_blank">RATATYPE</a></li>
    </ul>

    <p>TODO: Add explanation of CPM → WPM and the analysis performed </p>


</div>