<% provide(:title, "Contact ") %>

<h1>Contact</h1>
<div class="jumbotron">
    <p> Written by <a href="mailto:tpb1908dev@gmail.com">Theo Pearson-Bray</a>.</p> <br>
    <p> Email: tpb1908dev@gmail.com </p>
</div>