<div id="user_button">
    <li>
      <%= gravatar_for user, size: 20 %>
      <%= link_to user.name, user %>
    </li>
    <p id="users_online"></p>

    <script> 
        //TODO- Ensure that this stops when the test is no longer on screen
        function getUsersOnline() {
            $.getJSON('sessions_controller/users_online.json', function(data) {
                $('#users_online').text(data.count);
            setTimeout(getUsersOnline, 30000);
            }); 
        }
        getUsersOnline();
    </script>
</div>