<!--TODO Explanation for each readout -->


<p>In some languages characters take more than one keypress to type.<br>
    If you know of any more special characters, please use the contact link at the bottom of the page to inform me of them.</p>
<table class="table table-striped">
    <tr>
        <td><b>Language</b></td>
        <td><b>Characters</b></td>
        <td><b>Value</b></td>
    </tr>
    <tr>
        <td>All</td>
        <td>Upper case characters from A-Z, and symbols !"£$%^&*()_+¬{}:@~<>?</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Catalan</td>
        <td>àèò éíóú ïü<br>ÀÈÒ ÉÍÓÚ ÏÜ</td>
        <td>2<br>3</td>
    </tr> 
    <tr>
        <td>Chinese and Japanese</td>
        <td>Currently all characters</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Czech</td>
        <td>
            ó 
            <br>ď ť ň Á É Í Ó Ú Ý
            <br>Ě Š Č Ř Ž Ň Ť Ď Ů 
        </td>
        <td>2<br>3<br>4</td>
    </tr>
    <tr>
        <td>Danish</td>
        <td>Æ Ø Å</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Dutch</td>
        <td>é</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Esperanto</td>
        <td>ĉ ŭ ŝ ĝ ĵ ĥ</td>
        <td>2</td>
    </tr>
    <tr>
        <td>French</td>
        <td>
            â ê î ô û
            <br>Â Ê Î Ô Û
            <br>À È Ù
            <br>Œ œ Ÿ
        </td>
        <td>2<br>3<br>4<br>5</td>
    </tr>
    <tr>
        <td>German</td>
        <td>Ä Ö Ü</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Greek</td>
        <td>
            ά ή ί ώ ό ύ έ Α Β Γ Δ Ε Ζ Η Θ Ι Κ Λ Μ Ν Ξ Ο Π Ρ Σ Τ Υ Φ Χ Ψ Ω
            <br>ϊ ϋ ΐ ΰ Ά Ή Ί Ώ Ό Ύ Έ
            <br>Ϊ Ϋ
        </td>
        <td>2<br>3<br>4</td>
    </tr>
    <tr>
        <td>Icelandic</td>
        <td>
            é ú í ó á ý
            <br>É Ý Ú Í Ó Á
        </td>
        <td>2<br>3</td>
    </tr>
    <tr>
        <td>Italian</td>
        <td>é</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Korean</td>
        <td>Currently all characters</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Latvian</td>
        <td>ē ū ī ā š ģ ķ ļ ž č ņ</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Lithuanian</td>
        <td>ą č ę ė į š ų ū ž</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Persian</td>
        <td>ژ آ ء ّ َ ُ ِ</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Polish</td>
        <td>ą ć ę ł ń ó ś ź ż</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Portuguese</td>
        <td>
            ã õ á é í ó ú
            <br>à â ê î ô û
        </td>
        <td>2<br>3</td>
    </tr>
    <tr>
        <td>Romanian</td>
        <td>ă â î ș ț</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Spanish</td>
        <td>á é í ó ú</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Turkish</td>
        <td>Ö Ü Ç Ş Ğ İ</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Vietnamese</td>
        <td>
            ă â á à ạ ả ã đ é è ẻ ẽ ẹ ê í ì ỉ ĩ ị ô ơ ó ò ỏ õ ọ ư ú ù ủ ũ ụ ý ỳ ỷ ỹ ỵ
            <br>ắ ằ ặ ẳ ẵ ấ ầ ậ ẩ ẫ ế ề ể ễ ệ ố ồ ổ ỗ ộ ớ ờ ở ỡ ợ ứ ừ ử ữ ự

        </td>
        <td>2<br>3</td>
    </tr>

</table>

