<div class="panel-body">
    <div class="panel panel-default" id="word_container"> 
        
    </div>
    <div class="input group input-group-lg">
        <input type="text" class="form-control" id="input" placeholder="Type here"></input>
    </div>
</div>
<div class="panel-footer">
    Analysis goes here
</div>