<%= javascript_include_tag "word_controller.js"%>
<div class="panel-body">
    <div class="panel panel-default" id="word_container"> 
        
    </div>
    <div class="input-group" id="test_input">
        <input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"id="input" placeholder="Type here"></input>
        <div class="input-group-addon" id="test_timer">
            1:00
        </div>
        <span class="input-group-btn" id="refresh">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </span>
    </div>
</div>
<div class="panel-footer" id="output">
    Analysis goes here
</div>