<% provide(:title, 'Create new test') %>
<%= javascript_include_tag 'new_word_set' %>
<h1>New Test</h1>

<div class="panel panel-default" id="new_word_set">
    <div class="panel-heading">
        <input type="text" class="form-control" placeholder="Title" maxLength="30" ></input>
    </div>
    
    <div class="panel-body">
        <textarea class="form-control" rows="6" placeholder="Input your test here" id="words_input" maxlength="10000"></textarea>
        <div>
            <div class="input-group" id="generate_settings">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Text<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a>Latin text</a></li>
                            <li><a>Random characters</a></li>
                            <li><a>Names</a></li>
                            <li><a>Numbers</a></li>
                            <li><a>Dates</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://github.com/stympy/faker" target="_blank">Made with faker</a></li>
                        </ul>
                </div>
                <input type="number" min="1" step="1" max="10000" class="form-control" name="length" id="length_input" placeholder="No. of characters">
            </div>
            <div class="input-group-btn" id="generate_buttons">
                <button type="button" class="btn btn-default" id="insert_button">Insert</button>
                <button type="button" class="btn btn-default" id="replace_button">Replace</button>
            </div>
        </div>
    </div>
    <ul class="list-group" id="new_test">
        <li class="list-group-item">
            <table>
                <tr>
                    <td>Character count</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="character_count">0</span></td>
                </tr>
                <tr>
                    <td>Word count</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="word_count">0</span></td>
                </tr>
                <tr>
                    <td>Character count</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="character_count">0</span></td>
                </tr>
                <tr>
                    <td>Word count</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="word_count">0</span></td>
                </tr>
                <tr>
                    <td>Standard word count</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="standard_word_count">0</span></td>
                </tr>
                <tr>
                    <td>Keypress count</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="keypress_count">0</span></td>
                </tr>
                <tr>
                    <td>Average word length</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="word_length">0</span></td>
                </tr>
                <tr>
                    <td>Average word keypresses</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="word_keypresses">0</span></td>
                </tr>
                <tr>
                    <td>Special character count</td>
                    <td><span class="label label-default label-pill pull-xs-right" id="special_count">0</span></td>
                </tr>
            </table>
            <button class="btn btn-info" data-toggle="collapse" data-target="#character_explanation" id="explanation_button">How are these values calculated?</button>
            <div id="character_explanation" class="collapse">
                <%= render 'character_value_explanation' %>
            </div>
        </li>
        <li class="list-group-item">
            Word Frequency
            <p id="words"></p>
        </li>
        <li class="list-group-item"> 
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success active">
                    <input type="radio" autocomplete="off" checked>Display to all users
                </label>
                <label class="btn btn-primary">
                    <input type="radio"  autocomplete="off">Keep private
                </label>
            </div>
        </li>
    </ul>

</div>