<% provide(:title, 'Create new test') %>
<%= javascript_include_tag 'new_word_set' %>
<h1>New Test</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <input type="text" class="form-control" placeholder="Title" maxLength="30" ></input>
    </div>
    <div class="panel-body">
        <textarea class="form-control" rows="10" placeholder="Some text" id="words_input"></textarea>
    </div>
    <ul class="list-group" id="new_test">
        <li class="list-group-item">
            Character count
            <span class="label label-default label-pill pull-xs-right" id="character_count">0</span> <br>
            Word count
            <span class="label label-default label-pill pull-xs-right" id="word_count">0</span> <br>
            Capital count
            <span class="label label-default label-pill pull-xs-right" id="capital_count">0</span> <br>
            Special characters
            <span class="label label-default label-pill pull-xs-right" id="special_count">0</span>
        </li>
        <li class="list-group-item"> 
            <div class="checkbox">
                <label><input type="checkbox">Display to all users</label>
            </div>
        </li>
        <li class="list-group-item">
        </li>
    </ul>

</div>