<% provide(:title, 'Create new test') %>

<h1>New Test<h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <input type="text" class="form-control" placeholder="Title" ></input>
    </div>
    <div class="panel-body">
        
        <textarea class="form-control" rows="10" placeholder="Some text"></textarea>
    </div>
</div>

