<% provide(:title, 'Create new test') %>
<%= javascript_include_tag 'new_word_set' %>
<h1>New Test</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <input type="text" class="form-control" placeholder="Title" maxLength="30" ></input>
    </div>
    <div class="panel-body">
        <textarea class="form-control" rows="10" placeholder="Some text" id="words_input" maxlength="10000"></textarea>
    </div>
    <ul class="list-group" id="new_test">
        <li class="list-group-item">
            Character count
            <span class="label label-default label-pill pull-xs-right" id="character_count">0</span> <br>
            Word count
            <span class="label label-default label-pill pull-xs-right" id="word_count">0</span> <br>
            Average word length
            <span class="label label-default label-pill pull-xs-right" id="word_length">0</span> <br>
            Standard word count
            <span class="label label-default label-pill pull-xs-right" id="standard_word_count">0</span> <br>
            Capital count
            <span class="label label-default label-pill pull-xs-right" id="capital_count">0</span> <br>
            Special character count
            <span class="label label-default label-pill pull-xs-right" id="special_count">0</span> <br>

            <button class="btn btn-info" data-toggle="collapse" data-target="#character_explanation" id="explanation_button">How are these values calculated?</button>
            <div id="character_explanation" class="collapse">
                <%= render 'character_value_explanation' %>
            </div>
        </li>
        <li class="list-group-item">
            Word Frequency
            <p id="words"></p>
        </li>
        <li class="list-group-item"> 
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success active">
                    <input type="radio" autocomplete="off" checked>Display to all users
                </label>
                <label class="btn btn-primary">
                    <input type="radio"  autocomplete="off">Keep private
                </label>
            </div>
        </li>
    </ul>

</div>