// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}

.row {
	padding: 15px;
}

#user {
   overflow: auto;
   padding-top: 20px;
   border-bottom: 1px solid #eaeaea;
}


@media (max-width: 500px) {
	#user-details {
		width: 90%;
		float: left;
	}
	#user_stats {
		margin-top: 20px;
		width: 90%;
		float: left;
	}
}
@media (min-width: 500px) {
	#user_details {
		float: left;
	}
	#user_stats {
		float: right;
	}
}

#delete_button {
	width: 30%;
	margin: 0px;
	margin-top: 10px;
	float: left
}